body {
            font-family: Arial, sans-serif;
            background-color: #0f172a;
            color: #e2e8f0;
            margin: 0;
            padding: 0;
            display: inline-grid;
        }
a:link{
   color: aqua;
   background-color: #0f172a;
}
a:hover{
    color: aquamarine;
    background-color: blue;
}
button#amais{
    background-color: #1e293b;
    color: #38bdf8 ;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
button#amenos{
    background-color: #1e293b;
    color: #38bdf8 ;
    position: fixed;
    bottom: 2px;
    right: 20px;
}
ul{
    background-color: #1e293b ;
}
div{
    background-color: #1e293b;
}
img#mascote{
    position: fixed;
    top: 20px;
    right: 20px;
}